body{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #e0d1ac;
    --cor-primaria-escura: #c29837;
    --cor-sucesso: #5fb981;
    --cor-erro: #ef6e6e;
    --cor-texto: #e6cb82;
    --cor-texto-suave: #fafbd2;
    --cor-fundo: #1d1d1d;
    --cor-card-jogo: #4d4a4a79;
    --cor-card-avaliacao: #b1abab62;
    --borda-raio: 16px;
    --sombra-card: 0 0 15px rgba(242,239,219,0.08);
    --sombra-card-hover: 0 0 30px rgba(242,239,219,0.36);
    --espaco: 1.5rem;
}